.loader{
    height: 100px;
    width: 100px;
    border: 20px solid gray;
    border-radius: 50%;
    border-top: 20px solid black;
    animation: loaderanimate 1s linear 3s infinite normal ;
}

@keyframes loaderanimate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
    